$default-section-padding: 7rem 0 0 0;

/* barlow-condensed-100 - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/barlow-condensed-v12-latin-100.eot'); /* IE9 Compat Modes */
  src: local(''),
      url('../fonts/barlow-condensed-v12-latin-100.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('../fonts/barlow-condensed-v12-latin-100.woff2') format('woff2'), /* Super Modern Browsers */
      url('../fonts/barlow-condensed-v12-latin-100.woff') format('woff'), /* Modern Browsers */
      url('../fonts/barlow-condensed-v12-latin-100.ttf') format('truetype'), /* Safari, Android, iOS */
      url('../fonts/barlow-condensed-v12-latin-100.svg#BarlowCondensed') format('svg'); /* Legacy iOS */
}
/* barlow-condensed-100italic - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-weight: 100;
  src: url('../fonts/barlow-condensed-v12-latin-100italic.eot'); /* IE9 Compat Modes */
  src: local(''),
      url('../fonts/barlow-condensed-v12-latin-100italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('../fonts/barlow-condensed-v12-latin-100italic.woff2') format('woff2'), /* Super Modern Browsers */
      url('../fonts/barlow-condensed-v12-latin-100italic.woff') format('woff'), /* Modern Browsers */
      url('../fonts/barlow-condensed-v12-latin-100italic.ttf') format('truetype'), /* Safari, Android, iOS */
      url('../fonts/barlow-condensed-v12-latin-100italic.svg#BarlowCondensed') format('svg'); /* Legacy iOS */
}
/* barlow-condensed-200 - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 200;
  src: url('../fonts/barlow-condensed-v12-latin-200.eot'); /* IE9 Compat Modes */
  src: local(''),
      url('../fonts/barlow-condensed-v12-latin-200.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('../fonts/barlow-condensed-v12-latin-200.woff2') format('woff2'), /* Super Modern Browsers */
      url('../fonts/barlow-condensed-v12-latin-200.woff') format('woff'), /* Modern Browsers */
      url('../fonts/barlow-condensed-v12-latin-200.ttf') format('truetype'), /* Safari, Android, iOS */
      url('../fonts/barlow-condensed-v12-latin-200.svg#BarlowCondensed') format('svg'); /* Legacy iOS */
}
/* barlow-condensed-200italic - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-weight: 200;
  src: url('../fonts/barlow-condensed-v12-latin-200italic.eot'); /* IE9 Compat Modes */
  src: local(''),
      url('../fonts/barlow-condensed-v12-latin-200italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('../fonts/barlow-condensed-v12-latin-200italic.woff2') format('woff2'), /* Super Modern Browsers */
      url('../fonts/barlow-condensed-v12-latin-200italic.woff') format('woff'), /* Modern Browsers */
      url('../fonts/barlow-condensed-v12-latin-200italic.ttf') format('truetype'), /* Safari, Android, iOS */
      url('../fonts/barlow-condensed-v12-latin-200italic.svg#BarlowCondensed') format('svg'); /* Legacy iOS */
}
/* barlow-condensed-300 - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/barlow-condensed-v12-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
      url('../fonts/barlow-condensed-v12-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('../fonts/barlow-condensed-v12-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
      url('../fonts/barlow-condensed-v12-latin-300.woff') format('woff'), /* Modern Browsers */
      url('../fonts/barlow-condensed-v12-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
      url('../fonts/barlow-condensed-v12-latin-300.svg#BarlowCondensed') format('svg'); /* Legacy iOS */
}
/* barlow-condensed-300italic - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-weight: 300;
  src: url('../fonts/barlow-condensed-v12-latin-300italic.eot'); /* IE9 Compat Modes */
  src: local(''),
      url('../fonts/barlow-condensed-v12-latin-300italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('../fonts/barlow-condensed-v12-latin-300italic.woff2') format('woff2'), /* Super Modern Browsers */
      url('../fonts/barlow-condensed-v12-latin-300italic.woff') format('woff'), /* Modern Browsers */
      url('../fonts/barlow-condensed-v12-latin-300italic.ttf') format('truetype'), /* Safari, Android, iOS */
      url('../fonts/barlow-condensed-v12-latin-300italic.svg#BarlowCondensed') format('svg'); /* Legacy iOS */
}
/* barlow-condensed-regular - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/barlow-condensed-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
      url('../fonts/barlow-condensed-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('../fonts/barlow-condensed-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
      url('../fonts/barlow-condensed-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
      url('../fonts/barlow-condensed-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
      url('../fonts/barlow-condensed-v12-latin-regular.svg#BarlowCondensed') format('svg'); /* Legacy iOS */
}
/* barlow-condensed-italic - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-weight: 400;
  src: url('../fonts/barlow-condensed-v12-latin-italic.eot'); /* IE9 Compat Modes */
  src: local(''),
      url('../fonts/barlow-condensed-v12-latin-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('../fonts/barlow-condensed-v12-latin-italic.woff2') format('woff2'), /* Super Modern Browsers */
      url('../fonts/barlow-condensed-v12-latin-italic.woff') format('woff'), /* Modern Browsers */
      url('../fonts/barlow-condensed-v12-latin-italic.ttf') format('truetype'), /* Safari, Android, iOS */
      url('../fonts/barlow-condensed-v12-latin-italic.svg#BarlowCondensed') format('svg'); /* Legacy iOS */
}
/* barlow-condensed-500 - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/barlow-condensed-v12-latin-500.eot'); /* IE9 Compat Modes */
  src: local(''),
      url('../fonts/barlow-condensed-v12-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('../fonts/barlow-condensed-v12-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
      url('../fonts/barlow-condensed-v12-latin-500.woff') format('woff'), /* Modern Browsers */
      url('../fonts/barlow-condensed-v12-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
      url('../fonts/barlow-condensed-v12-latin-500.svg#BarlowCondensed') format('svg'); /* Legacy iOS */
}
/* barlow-condensed-500italic - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-weight: 500;
  src: url('../fonts/barlow-condensed-v12-latin-500italic.eot'); /* IE9 Compat Modes */
  src: local(''),
      url('../fonts/barlow-condensed-v12-latin-500italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('../fonts/barlow-condensed-v12-latin-500italic.woff2') format('woff2'), /* Super Modern Browsers */
      url('../fonts/barlow-condensed-v12-latin-500italic.woff') format('woff'), /* Modern Browsers */
      url('../fonts/barlow-condensed-v12-latin-500italic.ttf') format('truetype'), /* Safari, Android, iOS */
      url('../fonts/barlow-condensed-v12-latin-500italic.svg#BarlowCondensed') format('svg'); /* Legacy iOS */
}
/* barlow-condensed-600 - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/barlow-condensed-v12-latin-600.eot'); /* IE9 Compat Modes */
  src: local(''),
      url('../fonts/barlow-condensed-v12-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('../fonts/barlow-condensed-v12-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
      url('../fonts/barlow-condensed-v12-latin-600.woff') format('woff'), /* Modern Browsers */
      url('../fonts/barlow-condensed-v12-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
      url('../fonts/barlow-condensed-v12-latin-600.svg#BarlowCondensed') format('svg'); /* Legacy iOS */
}
/* barlow-condensed-600italic - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-weight: 600;
  src: url('../fonts/barlow-condensed-v12-latin-600italic.eot'); /* IE9 Compat Modes */
  src: local(''),
      url('../fonts/barlow-condensed-v12-latin-600italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('../fonts/barlow-condensed-v12-latin-600italic.woff2') format('woff2'), /* Super Modern Browsers */
      url('../fonts/barlow-condensed-v12-latin-600italic.woff') format('woff'), /* Modern Browsers */
      url('../fonts/barlow-condensed-v12-latin-600italic.ttf') format('truetype'), /* Safari, Android, iOS */
      url('../fonts/barlow-condensed-v12-latin-600italic.svg#BarlowCondensed') format('svg'); /* Legacy iOS */
}
/* barlow-condensed-700 - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/barlow-condensed-v12-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
      url('../fonts/barlow-condensed-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('../fonts/barlow-condensed-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
      url('../fonts/barlow-condensed-v12-latin-700.woff') format('woff'), /* Modern Browsers */
      url('../fonts/barlow-condensed-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
      url('../fonts/barlow-condensed-v12-latin-700.svg#BarlowCondensed') format('svg'); /* Legacy iOS */
}
/* barlow-condensed-700italic - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/barlow-condensed-v12-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local(''),
      url('../fonts/barlow-condensed-v12-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('../fonts/barlow-condensed-v12-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
      url('../fonts/barlow-condensed-v12-latin-700italic.woff') format('woff'), /* Modern Browsers */
      url('../fonts/barlow-condensed-v12-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
      url('../fonts/barlow-condensed-v12-latin-700italic.svg#BarlowCondensed') format('svg'); /* Legacy iOS */
}
/* barlow-condensed-800 - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/barlow-condensed-v12-latin-800.eot'); /* IE9 Compat Modes */
  src: local(''),
      url('../fonts/barlow-condensed-v12-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('../fonts/barlow-condensed-v12-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
      url('../fonts/barlow-condensed-v12-latin-800.woff') format('woff'), /* Modern Browsers */
      url('../fonts/barlow-condensed-v12-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
      url('../fonts/barlow-condensed-v12-latin-800.svg#BarlowCondensed') format('svg'); /* Legacy iOS */
}
/* barlow-condensed-800italic - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-weight: 800;
  src: url('../fonts/barlow-condensed-v12-latin-800italic.eot'); /* IE9 Compat Modes */
  src: local(''),
      url('../fonts/barlow-condensed-v12-latin-800italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('../fonts/barlow-condensed-v12-latin-800italic.woff2') format('woff2'), /* Super Modern Browsers */
      url('../fonts/barlow-condensed-v12-latin-800italic.woff') format('woff'), /* Modern Browsers */
      url('../fonts/barlow-condensed-v12-latin-800italic.ttf') format('truetype'), /* Safari, Android, iOS */
      url('../fonts/barlow-condensed-v12-latin-800italic.svg#BarlowCondensed') format('svg'); /* Legacy iOS */
}
/* barlow-condensed-900 - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/barlow-condensed-v12-latin-900.eot'); /* IE9 Compat Modes */
  src: local(''),
      url('../fonts/barlow-condensed-v12-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('../fonts/barlow-condensed-v12-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
      url('../fonts/barlow-condensed-v12-latin-900.woff') format('woff'), /* Modern Browsers */
      url('../fonts/barlow-condensed-v12-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
      url('../fonts/barlow-condensed-v12-latin-900.svg#BarlowCondensed') format('svg'); /* Legacy iOS */
}
/* barlow-condensed-900italic - latin */
@font-face {
  font-family: 'Barlow Condensed';
  font-style: italic;
  font-weight: 900;
  src: url('../fonts/barlow-condensed-v12-latin-900italic.eot'); /* IE9 Compat Modes */
  src: local(''),
      url('../fonts/barlow-condensed-v12-latin-900italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
      url('../fonts/barlow-condensed-v12-latin-900italic.woff2') format('woff2'), /* Super Modern Browsers */
      url('../fonts/barlow-condensed-v12-latin-900italic.woff') format('woff'), /* Modern Browsers */
      url('../fonts/barlow-condensed-v12-latin-900italic.ttf') format('truetype'), /* Safari, Android, iOS */
      url('../fonts/barlow-condensed-v12-latin-900italic.svg#BarlowCondensed') format('svg'); /* Legacy iOS */
}

body {
  font-family: 'Barlow Condensed', sans-serif;
  background: #000;
  color: #B2B2B2;
}

.navbar-light .navbar-toggler {
  border-color: #fff;
}

p,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
button {
  border: none;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #000;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #000;
}

.navbar {
  padding: 1.5rem 10rem;
  color: #fff;
  z-index: 1020;
  position: fixed;
  width: 100%;

  @media (max-width: 1600px) {
    padding: 1.5rem 3rem;
  }
  @media (max-width: 1366px) {
    padding: 1.5rem 2rem;
  }

  @media (max-width: 1200px) {
    padding: 1.5rem 1rem;
  }

  @media (max-width: 768px) {
    padding: 1.5rem 4rem;
  }

  @media (max-width: 576px) {
    padding: 1.5rem 2rem;
  }

  &.active {
    background: #000;
    .navbar-toggler {
      background: #fff;
    }
    .navbar__link {
      color: #fff !important;
      &:hover {
        color: #cacaca
      }
      &--red {
        width: 12.5rem;
      }
    }
  }

  &__item {
    padding: 0rem 1rem;
    &:first-child {
      padding-left: 2rem;
      @media (max-width: 1200px) {
        padding: 1rem 0;
      }
    }
    @media (max-width: 1366px) {
      padding: 0 .5rem;
    }
    @media (max-width: 1200px) {
      padding: 1rem 0;
    }
  }

  &__link {
    text-transform: uppercase;
    color: #FFF !important;
    font-weight: 400;
    font-size: 18px;
    line-height: 129.5%;
    letter-spacing: 0.155em;
    @media (max-width: 1200px) {
      font-size: 17px;
    }
    &--red {
      background: #B7191A;
      padding-top: 0.2rem;
      padding-bottom: 0.2rem;
      margin-top: 0.3rem;
    }
    &:hover {
      color: #cacaca !important;
    }
  }
  &-brand {
    padding-top: .8rem !important;
    padding-bottom: 0rem !important;
  }
}
 

.intro {
  padding: $default-section-padding;
  background: url('/bert/images/home-bg.png') no-repeat;
  background-size: cover;
  height: 100vh;
  &:before {
    content: "";
    width: 40vw;
    height: 100vh;
    background: url("/bert/images/grafismo06.png") no-repeat 440px;
    top: 10px;
    right: 0;
    position: absolute;
    display: inline-block;

    @media (max-width: 1690px) {
      background: url("/bert/images/grafismo06.png") no-repeat 320px;
    }
    
    @media (max-width: 1366px) {
      background: url("/bert/images/grafismo06.png") no-repeat 140px;
    }

    @media (max-width: 576px) {
      background: url("/bert/images/grafismo06.png") no-repeat 10px;
    }
  }

  &__lettering {
    transform: translate(-3vw, 33vh);
    max-width: 60vw;

    @media (max-width: 1366px) {
      transform: translate(10vw, 33vh);
    }
  }

  &__title {
    font-style: normal;
    text-transform: uppercase;
    font-weight: 700;
    transform: translate(0, 33vh);
    letter-spacing: -0.1rem;

    &--partners {
      letter-spacing: 0.005em;
      font-size: 34px;
      line-height: 99%;
    }
    &--solutions {
      font-size: 50px;
      letter-spacing: -0.05em;
      line-height: 93%;
    }
    &--made {
      font-size: 48px;
      letter-spacing: -0.035em;
      line-height: 98%;
    }
    &--of {
      font-size: 36px;
      letter-spacing: 0.02em;
      line-height: 93%;
    }
    &--steel {
      font-size: 57px;
      letter-spacing: -0.08em;
      line-height: 93%;
    }
  }
}

.about {
  padding: $default-section-padding;
  &__text {
    position: absolute;
    bottom: 0;

    @media (max-width: 768px) {
      position: initial;
      margin-bottom: 3rem;
    }
  }
  &__title {
    font-weight: 700;
    font-size: 47px;
    line-height: 129.5%;
    text-transform: uppercase;
    @media (max-width: 576px) {
      font-size: 37px;
      line-height: 119.5%;

    }
    &--are {
      font-size: 61px;
      line-height: 129.5%;
    }
  }
  &__description {
    font-weight: 300;
    font-size: 22px;
    line-height: 129.5%;
  }
}

.advantages {
  padding: $default-section-padding;

  &:before {
    content: "";
    width: 40vw;
    height: 100vh;
    background: url("/bert/images/grafismo-03.png") no-repeat 10px 0;
    top: 10px;
    left: 0;
    position: absolute;
    display: inline-block;
  }
  /*&:after {
    content: "";
    width: 40vw;
    height: 100vh;
    background: url("/bert/images/grafismo-05.png") no-repeat 410px 0;
    top: 200px;
    right: 0;
    position: absolute;
    display: inline-block;
    @media (max-width: 1690px) {
      background: url("/bert/images/grafismo06.png") no-repeat 320px;
    }
    
  }*/

  &__list {
    margin-top: 3rem;
  }

  &__item-list {
    border-left: .5px solid #b2b2b2;
    &:first-child{
      .advantages__list-item-description {
        padding-top: .8rem;
      }
    }
    &:last-child {
      border-right: .5px solid #b2b2b2;
    }
    @media (max-width: 576px) {
      border: none;
    }
  }

  &__list-item-title {
    font-weight: 700;
    font-size: 29px;
    line-height: 92.5%;
    text-align: center;
    letter-spacing: -0.025em;
    padding: 1.5rem 1rem;
    display: inline-block;
    min-height: 130px;
    @media (max-width: 768px) {
      display: block;
      margin: 0 auto;
      padding: .75rem 1.3rem;
    }
  }

  &__list-item-description {
    font-size: 18px;
    line-height: 135%;
    letter-spacing: -0.025em;
    padding: 2.5rem 1.5rem 2rem;
    @media (max-width: 768px) {
      display: block;
      margin: 0 auto;
      width: 60%;
      margin-bottom: 3rem;
      padding: 1rem 1.5rem 2rem;
    }
    @media (max-width: 576px) {
      width: 80%;
    }
  }

  &__title {
    padding: 42px 0;
    text-align: center;
    color: #B2B2B2;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 700;
    &--know {
      font-size: 51px;
      line-height: 92.5%;
      @media (max-width: 576px) {
        font-size: 41px;
        line-height: 82.5%;
  
      }
    }
    &--all {
      font-size: 46px;
      line-height: 92.5%;
      @media (max-width: 576px) {
        font-size: 36px;
        line-height: 82.5%;
  
      }
    }
    &--advantages {
      font-size: 61px;
      line-height: 92.5%;
      @media (max-width: 576px) {
        font-size: 61px;
        line-height: 92.5%;
  
      }
    }
    &--of {
      font-size: 54px;
      line-height: 105.5%;
      @media (max-width: 576px) {
        font-size: 44px;
        line-height: 95.5%;
  
      }
    }
    &--brand {
      font-size: 66px;
      line-height: 92.5%;
      @media (max-width: 576px) {
        font-size: 56px;
        line-height: 82.5%;
  
      }
    }
  }

  &__case-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.trust {
  padding: $default-section-padding;
  padding-bottom: 10rem;
  &:before {
    content: "";
    width: 40vw;
    height: 100vh;
    background: url("/bert/images/grafismo-03.png") no-repeat 10px 0;
    top: 10px;
    left: 0;
    position: absolute;
    display: inline-block;
  }
  /*&:after {
    content: "";
    width: 40vw;
    height: 100vh;
    background: url("/bert/images/grafismo-05.png") no-repeat 410px 0;
    top: 200px;
    right: 0;
    position: absolute;
    display: inline-block;
    @media (max-width: 1690px) {
      background: url("/bert/images/grafismo06.png") no-repeat 320px;
    }
  }*/
  &__title {
    padding: 0;
    text-align: center;
    color: #B2B2B2;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 5rem;

    &--bertolini {
      font-weight: 700;
      font-size: 66px;
      line-height: 92.5%;
      @media (max-width: 576px) {
        font-size: 57px;
        line-height: 48%;
      }
    }

    &--who {
      font-size: 61px;
      line-height: 66px;
      /* or 108% */

      text-align: center;
      letter-spacing: -0.025em;
      @media (max-width: 576px) {
        font-size: 52px;
        line-height: 83%;
  
      }
    }

    &--trust {
      font-size: 51px;
      line-height: 66px;
      /* or 129% */
      margin-left: .5rem;
      text-align: center;
      letter-spacing: -0.04em;
      @media (max-width: 576px) {
        font-size: 44px;
        line-height: 83%;
      }
    }

    &--on {
      font-size: 61px;
      line-height: 66px;
      /* or 108% */

      text-align: center;
      margin-left: 1rem;
      letter-spacing: -0.025em;
      @media (max-width: 576px) {
        font-size: 59px;
        line-height: 68%;
      }
    }
  }

  &__partners-list {
    padding-top: 5.4rem;
  }

  &__partners-list-title {
    font-weight: 700;
    font-size: 23px;
    line-height: 92.5%;
    letter-spacing: -0.025em;
    padding: .5rem 0 .5rem 0;
    margin: 0;

    @media (max-width: 768px) {
      width: 38%;
      margin: 0 auto;
    }
    @media (max-width: 576px) {
      width: 76%;
      margin: 0 auto;
    }
  }

  &__partners-list-subtitle {
    font-weight: 700;
    font-size: 13px;
    line-height: 92.5%;
    letter-spacing: -0.025em;
    padding: 0 0 .5rem 0;
    display: inline-block;
    @media (max-width: 768px) {
      display: block;
      width: 38%;
      margin: 0 auto;
    }
    @media (max-width: 576px) {
      display: block;
      width: 76%;
      margin: 0 auto;
    }
  }

  &__partners-list-description {
    font-weight: 300;
    font-size: 17px;
    line-height: 153%;
    letter-spacing: -0.025em;
    margin-bottom: 1.2rem;
    color: #fff;
    @media (max-width: 768px) {
      width: 83%;
      margin: 2rem auto;
    }
    @media (max-width: 576px) {
      width: 76%;
      margin: 2rem auto;
    }
  }

  &__case-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 256px;
    background: #fff;
    @media (max-width: 1200px) {
      height: 214px;
    }
    @media (max-width: 768px) {
      height: 277px;
      width: 276px;
      margin: 0 auto;
    }
  }
}	

.contact-section {
  background: url('/bert/images/background-form-contact-special.png') no-repeat;
  background-size: cover;
  padding-bottom: 2rem;
  &:before {
    content: "";
    width: 40vw;
    height: 100vh;
    background: url("/bert/images/grafismo-08.png") no-repeat 90px 0;
    top: -340px;
    left: -80px;
    position: absolute;
    display: inline-block;
  }

  &__title {
    padding: 42px 0 0;
    text-align: center;
    color: #B2B2B2;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    transform: translate(0, -5.7rem);

    &--receive {
      font-size: 62px;
      line-height: 75%;
      letter-spacing: -0.05em;
    }
    &--one {
      letter-spacing: -0.01em;
      font-size: 48px;
      line-height: 75%;
    }
    &--contact {
      letter-spacing: -0.04em;
      font-size: 37px;
      line-height: 75%;
    }
    &--specialized {
      font-size: 62px;
      line-height: 50%;
      letter-spacing: -0.05em;
    }
  }

  &__button-wrapper {
    position: relative;
    height: 2.5rem;
  }

  &__description {
    position: absolute;
    bottom: 34px;
    width: 70%;
    font-weight: 300;
    font-size: 17px;
    line-height: 153%;
    color: #FFFFFF;
    left: 110px;

    @media (max-width: 768px) {
      display: none;
    }
  }

  &__field {
    padding: .8rem;
    margin: 5px 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #000;
    font-weight: 300;
    font-size: 25px;
    line-height: 153%;

    &--textarea {
      width: 100%;
      height: 200px;
      resize: none;
      border: 1px solid #fff;
      border-radius: 5px;
      padding: 10px;
      font-size: 1.2rem;
      color: #000;
      outline: none;
      font-weight: 300;
      font-size: 25px;
      line-height: 153%;
    }
  }

  &__button-send {
    background-color: #B7191A;
    position: absolute;
    right: 0;
    font-weight: 300;
    font-size: 17px;
    line-height: 153%;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 0rem 1rem;
    cursor: pointer;
    &:hover {
      background-color: #bd3838;
    }
  }
}

.newsletter {
  padding: 2rem 0;
  color: #fff;
  &__title {
    text-align: center;
    display: inline-block;
    width: 100%;
    font-size: 27px;
    text-transform: uppercase;
    @media (max-width: 576px) {
      font-size: 21px;
    }
  }

  &__description {
    text-align: center;
    display: inline-block;
    width: 100%;
    font-size: 22px;
    @media (max-width: 768px) {
      font-size: 20px;
    }

    @media (max-width: 576px) {
      font-size: 11px;
    }
  }

  &__form {
    padding: 16px 0 64px 120px;
    @media (max-width: 1200px) {
      padding: 16px 0 64px 0px;
    }
  }

  &__field {
    padding: 6px;
    width: 424px;
    font-weight: 300;
    font-size: 25px;
    line-height: 153%;
    color: #000000;

    @media (max-width: 1200px) {
      width: 400px;
    }

    @media (max-width: 768px) {
      width: 270px;
    }

    @media (max-width: 576px) {
      width: 100%;
    }

    &--checkbox {
      width: 30px;
      position: absolute;
      top: 7px;
      right: 140px;
      @media (max-width: 576px) {
        top: 20px;
        right: 114px
      }
    }
  }

  &__field-wrapper {
    display: inline-block;
    width: 45%;
    @media (max-width: 768px) {
      width: 44%;
    }
    @media (max-width: 576px) {
      width: 100%;
      margin-bottom: 1rem;
    }
  }

  &__checkbox-wrapper {
    width: 100%;
    position: relative;
  }

  &__label {
    position: absolute;
    right: 32px;
    @media (max-width: 576px) {
      right: 5px;
      top: 13px;
    }
  }

  &__button-wrapper {
    width: 8%;
    display: inline-block;
    
  }
  &__btn {
    background-color: #B7191A;
    font-weight: 300;
    font-size: 17px;
    line-height: 153%;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 0rem 1rem;
    cursor: pointer;
    &:hover {
      background-color: #bd3838;
    }
  }
}


.footer {
  width: 100%;
  color: #fff;

  &:before {
    content: "";
    width: 40vw;
    height: 35vh;
    background: url("/bert/images/grafismo-01.png") no-repeat 580px -110px;
    top: 10px;
    right: 0px;
    position: absolute;
    display: inline-block;
    @media (max-width: 1690px) {
      background: url("/bert/images/grafismo06.png") no-repeat 480px -330px;
    }
    @media (max-width: 1366px) {
      background: url("/bert/images/grafismo06.png") no-repeat 170px -330px;
    }
    @media (max-width: 576px) {
      width: 0;
      height: 0;
    }
  }

  &__typography-title {
    text-transform: uppercase;
    font-weight: 700;
    color: #b2b2b2;

    @media (max-width: 768px) {
      width: 27%;
      display: block;
      margin: 2rem auto;
    }
    @media (max-width: 576px) {
      width: 54%;
      display: block;
      margin: 2rem auto;
    }
  }

  &__typography-partner {
    letter-spacing: 0.005em;
    font-size: 34px;
    line-height: 99%;
    @media (max-width: 1200px) {
      font-size: 24px;
      line-height: 89%;
    }
  }

  &__typography-solutions {
    font-size: 50px;
    letter-spacing: -0.005em;
    line-height: 93%;
    @media (max-width: 1200px) {
      font-size: 24px;
      line-height: 89%;
    }
  }

  &__typography-and {
    font-size: 41px;
    letter-spacing: 0.03em;
    font-style: normal;
    line-height: 93%;
    @media (max-width: 1200px) {
      font-size: 31px;
      line-height: 83%;
    }
  }

  &__typography-made {
    font-size: 48px;
    letter-spacing: -0.035em;
    line-height: 98%;
    @media (max-width: 1200px) {
      font-size: 38px;
      line-height: 88%;
    }
  } 

  &__typography-of {
    font-size: 36px;
    letter-spacing: 0.02em;
    font-style: normal;
    line-height: 93%;
    @media (max-width: 1200px) {
      font-size: 26px;
      line-height: 83%;
    }
  }

  &__typography-steel {
    font-size: 57px;
    letter-spacing: 0.03em;
    line-height: 93%;
    @media (max-width: 1200px) {
      font-size: 47px;
      line-height: 83%;
    }
  }

  &__links-section-list {
    display: inline-block;
    margin: 0 auto;
    width: 25%;
    vertical-align: top;
    padding-left: 1rem;
    margin-left: 2rem;

    @media (max-width: 1760px) {
      width: 26%;
    }

    @media (max-width: 1600px) {
      width: 28%;
    }

    @media (max-width: 1200px) {
      width: 32%;
      margin-left: 0;
    }

    &:first-child {
      margin-left: 8rem;
      @media (max-width: 1760px) {
        margin-left: 6rem;
      }

      @media (max-width: 1600px) {
        margin-left: 4rem;
      }
      @media (max-width: 1200px) {
        margin-left: 0rem
      }
    }
    &:last-child {
      margin-left: 0;
    }
  }

  &__icon {
    display: inline-block;
    margin-right: 0.8rem;
  }

  &__links-section-list-item {
    font-size: 19px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff;
  }

  &__sitemap {
    padding: 0 16rem;

    @media (max-width: 1760px) {
      padding: 0 6rem;
    }

    @media (max-width: 1600px) {
      padding: 0 3rem;
    }

    @media (max-width: 1366px) {
      padding: 0 1rem;
    }
  }

  &__socials-list {
    margin: 10px 0 0 0;

    @media (max-width: 768px) {
      margin: 10px 0 90px 0;
    }
  }

  &__socials-list-item {
    display: block;
    float: left;
    margin-right: 10px;
    margin-left: 20px;
    @media (max-width: 1200px) {
      margin-right: 0;
    }
    @media (max-width: 768px) {
      margin-left: 44px;
    }
    @media (max-width: 576px) {
      margin-left: 30px;
    }
    &:first-child {
      margin-left: 14px;
      @media (max-width: 1366px) {
        margin-left: 0;
      }
    }
    
  }
  
  &__cta {
    background: #B7191A;
    letter-spacing: 0.03em;
    font-size: 18px;
    font-weight: 400;
    padding: 6px 27px;
    display: block;
    color: #FFF;
    margin: 35px auto 63px auto;
    cursor: pointer;
    &:hover {
      background-color: #bd3838;
    }
  }
  &__contact {
    background: #FFF;
  }
  &__contact-list {
    padding:24px 6rem;
    @media (max-width: 1366px) {
      padding:24px 1rem;
    }
  }
  &__contact-list-item {
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 0.035em;
    color: #000000;

    @media (max-width: 1200px) {
      font-size: 14px;
    }

    @media (max-width: 768px) {
      margin-bottom: .5rem;
    }
  }

  @media (max-width: 768px) {
    &__brand-wrapper {
      width: 30%;
      margin: 1rem auto;
    }
  }

  @media (max-width: 576px) {
    &__brand-wrapper {
      width: 46%;
      margin: 1rem auto;
    }
  }
}

.product {
  padding: 10rem 0 2rem;
  color: #B2B2B2;

  &__content {
    h2 {
      font-weight: 700;
      font-size: 60px;
      line-height: 100%;
      margin-top: 4rem;
      text-transform: uppercase;
      
    }

    h5 {
      font-weight: 700;
      font-size: 34px;
      line-height: 100%;
      margin-top: 4rem;
    }

    p {
      font-weight: 300;
      font-size: 22px;
      line-height: 120%;
      color: #fff;
      width: 90%;
    }
  }

  &__button {
    background-color: #B7191A;
    font-weight: 300;
    font-size: 17px;
    line-height: 153%;
    text-transform: uppercase;
    color: #B2B2B2;
    padding: 0rem 1rem;
    margin-top: 1rem;
    cursor: pointer;
    &:hover {
      background-color: #bd3838;
    }
  }

  &__catalog {
    background-color: #B7191A;
    font-weight: 400;
    font-size: 45px;
    line-height: 100%;
    text-transform: uppercase;
    color: #B2B2B2;
    padding: 1rem;
    display: block;
    width: 30%;
    margin: 10rem auto;
    cursor: pointer;
    &:hover {
      background-color: #bd3838;
    }
  }
}

.segments {
  padding: 10rem 0;

  &__title {
    text-transform: uppercase;
    margin: 4rem 0 8rem;

    &--the {
      font-weight: 700;
      font-size: 48px;
      line-height: 75%;
    }

    &--main {
      font-weight: 700;
      font-size: 62px;
      line-height: 75%;
    }

    &--segments {
      font-weight: 700;
      font-size: 62px;
      line-height: 75%;
    }

    &--attended {
      font-weight: 700;
      font-size: 43px;
      line-height: 75%;
    }
  }

  &__list-item {
    margin-top: 5rem;
  }

  &__list-item-image {
    max-width: 40%;
  }

  &__list-item-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 90%;
    text-transform: uppercase;
    max-width: 50%;
    vertical-align: middle;
    padding-left: 1rem;
  }

  &__list-item-description {
    margin-top: .5rem;
    max-width: 90%;
    font-weight: 300;
    font-size: 22px;
    line-height: 100%;
    color: #FFFFFF;
  }
}

.contact {
  padding: 10rem 0;

  &__title {
    text-transform: uppercase;
    margin: 4rem 0 8rem;
    font-weight: 700;
    font-size: 62px;
    line-height: 75%;
  }

  &__description-wrapper {
    position: absolute;
    top: 20%;
    left: 3rem;
  }
}

.request-contact {
  padding: 10rem 0;

  &__title {
    font-weight: 700;
    font-size: 45px;
    line-height: 109.5%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }

  &__description {
    font-weight: 300;
    font-size: 22px;
    line-height: 129.5%;
    color: #B2B2B2;
  }

  &__list {
    margin-top: 5rem;
  }

  &__form {
    margin-top: 1.5rem;
    label {
      text-transform: uppercase;
      font-weight: 400;
      font-size: 24px;
      line-height: 129.5%;
      &.no-upper {
        text-transform: none;
        margin-top: .5rem;
      }
    }
    select {
      color: #666565;
      background-color: #C4C4C4 !important;
    }

    textarea{
      color: #666565;
      background-color: #C4C4C4 !important;
      min-height: 200px;
    }
  }

  &__btn-send {
    background: #B7191A;
    color: #fff;
    border: none;
    font-weight: 400;
    font-size: 22px;
    line-height: 129.5%;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding: 0.3rem 2rem;
    border-radius: 0;
    &:hover {
      background-color: #bd3838;
    }	
  }
}

.news {
  padding: 10rem 0;

  &__list-item {
    border: 1px solid #B2B2B2;
    margin-bottom: 3rem;
  }

  &__list-item-image-wrapper {
    max-width: 46%;
    display: inline-block;
  }

  &__list-item-content-wrapper {
    max-width: 50%;
    display: inline-block;
    vertical-align: top;
    padding-left: 2rem;
    padding-top: 2.5rem;

    h2 {
      font-weight: 700;
      font-size: 23px;
      line-height: 100%;
      color: #FFFFFF;
    }

    p {
      margin-bottom: 1rem;
    }

    span {
      color: #B7191A;
    }
  }

  &__search-input {
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    color: #fff;
    border-radius: 0;
    max-width: 80%;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    
    &:focus {
      outline: none;
      background: transparent;
      color: #fff;

    }
  }

  &__search-btn {
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #fff;
  }

  &__tags {
    margin-top: 2rem;
  }

  &__tag {
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    display: inline-block;
    border: 1px solid #B2B2B2;
    padding: .5rem;
    margin: .3rem;
    border-radius: .3rem;
    cursor: pointer;
    &:hover {
      background-color: #333;
    }
  }
}